<!DOCTYPE html>
<html lang=en xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PacilkomBot: Login to CSUI Account</title>
</head>
<body>
    <script th:inline="javascript">
        /*<![CDATA[*/

        if ([[${success}]]) {
            alert("Login successful! You will be returned back to chat.");
            window.location.href = "tg:resolve?domain=pacilkom_bot";
        } else {
            alert("Login failed! Please check your username/password");
            window.location.href = "/csui-login?id=" + [[${id}]];
        }

        /*]]>*/
    </script>
</body>
</html>